<div class="time-picker">
  <button type="button" class="app-ui-control time-picker__trigger" (click)="toggle()">
    <span>{{ format(minutes()) }}</span>
    <i class="bi bi-clock" aria-hidden="true"></i>
  </button>

  @if (isOpen()) {
    <div class="time-picker__panel">
      @if (allowClear()) {
        <button
          type="button"
          class="time-picker__option"
          [class.time-picker__option--selected]="minutes() === null"
          (click)="select(null)"
        >
          {{ clearLabel() | transloco }}
        </button>
      }
      @for (option of options(); track option) {
        <button
          type="button"
          class="time-picker__option"
          [class.time-picker__option--selected]="option === minutes()"
          (click)="select(option)"
        >
          {{ format(option) }}
        </button>
      }
    </div>
  }
</div>
